<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>MySocio</display-name>
	<listener>
		<listener-class>net.mysocio.context.MySocioContextListener</listener-class>
	</listener>
	<servlet>
		<display-name>RequestHandler</display-name>
		<servlet-name>RequestHandler</servlet-name>
		<servlet-class>net.mysocio.ui.RequestHandler</servlet-class>
	</servlet>
	<servlet>
		<display-name>ImportOpmlHandler</display-name>
		<servlet-name>ImportOpmlHandler</servlet-name>
		<servlet-class>net.mysocio.ui.RequestHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestHandler</servlet-name>
		<url-pattern>/execute</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImportOpmlHandler</servlet-name>
		<url-pattern>/importOpml</url-pattern>
	</servlet-mapping>
</web-app>
