@CHARSET "UTF-8";

body,html {
	height: 100%;
	border: 0px;
	padding: 0px;
	margin: 0px;
}

td {
	border: none;
	padding: 0px;
	vertical-align: top;
}

a {
	border: none;
}

img {
	border: none;
}

td.UserBox {
	width: 100%;
	height: 102px;
}

td.SourcesBox {
	width: 100%;
	height: 100%;
}

.UserBox {
	position: relative;
	background: transparent;
	margin-top: 37px;
	width: 315px;
	float: none;
}

.UserPic {
	margin-left: 34px;
	margin-right: 22px;
	width: 50px;
	height: 50px;
	border: 3px solid #d1c2d4;
	float: left;
}

.UserPic img{
	width: 50px;
	height: 50px;
}

.MessageUserpic img{
	width: 50px;
	height: 50px;
	border: 2px solid #00aeef;
	float: left;
}
.AccountUserpic .icon {
	right: 23px;
	top: 32px;
	position: relative;
	z-index: 1;
	padding-bottom: 15px;
}
.AccountUserpic .userpic {
	width: 50px;
	height: 50px;
	border: 2px solid #00aeef;
	float: left;
}
.AccountUserpic {
	float: left;
	padding-left: 15px;
	padding-top: 4px;
	padding-bottom: 15px;
}
.ContactUserpic {
	float: left;
}

.ContactUserpic img{
	width: 50px;
	height: 50px;
	border: 2px solid #D1C2D4;
	float: left;
}
.AccountData span{
	font: 14px Calibri;
	color: #7d4089;
	float: left;
}

span.AccountType {
	float: left;
	margin-top: 7px;
	margin-left: 10px;
}

span.DefaultAccount {
	font: 12px Calibri;
	color: #525152;
	float: left;
}
.Account {
	float: left;
	width: 600px;
	height: auto;
	margin-left: 16px;
	margin-top: 20px;
}
.Contact {
	float: left;
	width: 600px;
	height: 54px;
	margin: 1px 30px 1px;
}

}
.NewAccount {
	float: left;
	width: 600px;
	height: auto;
	margin-left: 28px;
	margin-top: 20px;
}
.AccountData {
	position: relative;
	left: 5px;
	width: 100px;
	height: 100%;
	float: left;
}

.ContactData {
	position: relative;
	width: 500px;
	height: 100%;
	margin-left: 10px;
	float: left;
}

.ContactData span{
	font: 14px Calibri;
	color: #7d4089;
	float: left;
}

.RSS {
	float: left;
	width: 322px;
	height: auto;
	margin-left: 28px;
}
.RSSType {
	float: left;
	width: 285px;
	padding-left: 10px;
}
.RSS:HOVER > .MinusButton{
	display: block;
}
.RssColumn {
	width: 322px;
	margin-right: 72px;
	margin-top: 52px;
	float: left;
}
.GrayLine {
	background-color: #e5e5e5;
}
.floatLeft{
	float: left;
}
.fullWidth {
	width: 100%;
}
.MessageUserpic {
	float: left;
	padding-right: 15px;
	padding-top: 4px;
	padding-bottom: 15px;
}

.UserName {
	font: 14px Calibri;
	color: #7d4089;
	float: none;
}

.Subsciptions {
	font: 14px Calibri;
	color: #00aeef;
	margin-left: 34px;
	margin-top: 35px;
}

.SubsciptionsUnderline {
	margin-left: 34px;
	margin-bottom: 9px;
	height: 1px;
	width: 282px;
	background: #d1c2d4;
}

a.InnerLink {
	font: 12px Calibri;
	color: #525152;
	float: none;
}

.PostBox {
	width: 672px;
	font: 13px Calibri;
	color: #a5a4a4;
	margin: 10px 0px 2px 28px;
}

.PostBox : :FOCUS {
	color: #000000;
}
.PostBox textarea{
	border: 0px;
	width: 672px;
	background-color: #ececec;
	resize: none;
	padding: 4px;
	height: 60px;
	margin: 0px 0px 2px 0px;
}
.PostBoxTriangle {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #ececec;
	float: left;
	position: relative;
	left: 18px;
	top: 35px;
}
.PostButtons {
	height: 30px;
	width: 680px;
	background-color: #ececec;
}
.InnerContentMenu span {
	float: left;
	text-align: center;
	padding: 5px 10px 8px 10px;
	color: #000000;
	font: bold 15px Calibri;
	cursor: pointer;
}

.InnerContentMenu input {
	float: left;
	margin-left: 15px;
}
#rssUrl {
	width: 300px;
}
.ChoseOpmlFile {
	z-index: 1;
	float: left;
	height: 19px;
	margin-top: 4px;
	left: -92px;
	position: relative;
}
.LeftChoseOpmlFile {
	background: url("../images/opmlButton/choose-file-left-idle.png");
	width: 10px;
	height: 19px;
	float: left;
}
.RightChoseOpmlFile {
	background: url("../images/opmlButton/choose-file-right-idle.png");
	width: 10px;
	height: 19px;
	float: left;
}
.MiddleChoseOpmlFile {
	background: url("../images/opmlButton/choose-file-center-idle.png");
	background-repeat: repeat-x;
	float: left;
	font: bold 15px Calibri;
	color: #ffffff;
	height: 19px;
}
.ChoseOpmlFile:HOVER > .LeftChoseOpmlFile {
	background: url("../images/opmlButton/choose-file-left-hover.png");
}
.ChoseOpmlFile:HOVER > .RightChoseOpmlFile {
	background: url("../images/opmlButton/choose-file-roght-hover.png");
}
.ChoseOpmlFile:HOVER > .MiddleChoseOpmlFile {
	background: url("../images/opmlButton/choose-file-center-hover.png");
	background-repeat: repeat-x;
}
.ImportOpml {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
	height: 19px;
	width: 100px;
	cursor: pointer;
	margin: 0px;
}

.ImportOpmlButton {
	z-index: 1;
	position: relative;
	left: -92px;
}

.PostButton {
	height: 25px;
	width: 72px;
	background-color: #a67eb0;
	float: right;
	text-align: center;
	padding-top: 5px;
	color: #ffffff;
	font: bold 16px Calibri;
	cursor: pointer;
}

.LoginCenterDiv {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
	width: 691px;
	height: 616px;
	position: relative;
}

.Settings {
	margin-top: 12px;
}

.HiddenDiv {
	display: none;
}
.LongDate {
	
}
.LogOut {
	
}

.SecondContentLine {
	height: 2px;
	width: 100%;
	background: #89bd3f;
}
.ContentMenu {
	height: 31px;
	width: auto;
	background: #89bd3f;
	margin-left: 28px;
}
.ContentMenuDivider {
	width: 1px;
	height: 31px;
	background-color: #b6d38e;
	float: left;
}
.HeaderMiddleColumn {
	height: 44px;
	width: 100%;
	background-image: url("../images/main/light-texture.jpg");
	background-repeat: repeat;
}

.HeaderMiddleColumnWithShade {
	height: 63px;
	width: 100%;
	background-image: url("../images/main/paper-light-part.jpg");
	background-repeat: repeat;
}

.LogoBox {
	height: 107px;
	width: 100%;
	background-image: url("../images/main/light-texture.jpg");
	background-repeat: repeat;
}

.ContentLine {
	height: 4px;
	width: 100%;
	background: #7d4089;
}

.ContentHeader {
	height: 44px;
	width: 100%;
	background-image: url("../images/main/light-texture2.jpg");
	background-repeat: repeat;
}

.BlueButtonTop {
	height: 10px;
	background-image: url('../images/main/blue_idle_right.png');
	background-repeat: no-repeat;
}

.BlueButtonCenter {
	width: 22px;
	background-image: url('../images/main/blue_idle_center.png');
	background-repeat: repeat;
	float: none;
}

.BlueButtonBottom {
	height: 10px;
	background-image: url('../images/main/blue_idle_left.png');
	background-repeat: no-repeat;
	margin-bottom: 3px;
}

.GrayButtonTop {
	height: 10px;
	background-image: url('../images/main/gray_idle_right.png');
	background-repeat: no-repeat;
}

.GrayButtonCenter {
	width: 22px;
	background-image: url('../images/main/gray_idle_center.png');
	background-repeat: repeat;
	float: none;
}

.GrayButtonBottom {
	height: 10px;
	background-image: url('../images/main/gray_idle_left.png');
	background-repeat: no-repeat;
	margin-bottom: 3px;
}

span.tab {
	writing-mode: tb-rl;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	white-space: nowrap;
	display: block;
	position: relative;
	font: 18px Calibri;
	color: white;
	float: left;
}

span.MessageDate {
	float: right;
	margin-top: 9px;
	color: #a3a3a3;
	font: 12px Calibri;
}

.MiddleHeaderLine {
	margin-bottom: 18px;
}

td.MiddleColumn {
	background-image: url("../images/main/paper-dark-side-part.jpg");
	background-repeat: repeat;
}

input.Search {
	margin-top: 18px;
	height: 20px;
	width: 148px;
	margin-left: 34px;
	border: 1px solid #d1c2d4;
}

img.Logo {
	margin-bottom: 24px;
	margin-top: 33px;
	margin-left: 34px;
	margin-right: 51px;
}

a.Search {
	position: relative;
	top: 12px;
	left: 5px;
}

td.FirstColumn {
	background-image: url("../images/main/dark-texture.jpg");
	background-repeat: repeat;
	width: 349px;
}

td.SecondColumn {
	width: 22px;
}

td.ThirdColumn {
	width: auto;
}

tr.Footer {
	height: 33px;
	width: 100%;
	background-image: url("../images/main/dark-texture1.jpg");
	background-repeat: repeat;
	border: none;
	padding: 0px;
}

.SourcesBox {
	margin-left: 32px;
	height: 580px;
}

.gplusbutton {
	margin: 6px 0px 0px 10px;
}
.rssTitle {
	font-family: arial,sans-serif;
	color: #00aeef;
}
.Tabs {
	float: left;
}

.filler {
	float: left;
	width: 80%;
}

.Message {
	height: auto;
	width: 80%;
	margin-left: 28px;
	margin-top: 2px;
	border: 0px;
	float: left;
}
.MessageInnerBox {
	width: 680px;
}
.FbVideoIcon {
	position: relative;
	left: 0px;
	top: 0px;
	float: left;
	z-index: 1;
}

.FbVideoPicture {
	position: relative;
	left: -35px;
	top: 0px;
	float: left;
}

.SelectedMessage {
	
}
.MessageButton {
	cursor: pointer;
}
.MessageButtons {
	height: 27px;
	background-color: #ececec;
	font: 12px Calibri;
	color: #82478e;
	float: left;
	width: 100%;
	margin-top: 10px;
}

.MessageButtonsSelected {
	background-color: #dedede;
}

.MessageButtons div {
	float: left;
}

.MessageButton div {
	margin-top: 7px;
}

.MessageButtons img{
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 6px;
	float: left;
}

.MessageText {
	height: auto;
	font-family: arial,sans-serif;
	font-size: 13px;
	overflow: hidden;
	color: #292929;
	float: left;
	width: 100%;
}
.RssMessageFrom {
	height: auto;
	font-family: arial,sans-serif;
	font-size: 13px;
	overflow: hidden;
	color: #292929;
	float: left;
	width: 100%;
	padding-left: 6px;
}
.Expand {
	height: auto;
}
.MessageTextSelected {
	color: #292929;
	background: #f3f3f3;
}

img.NetworkIcon {
	float: left;
}

img.NetworkIconReaden {
	float: left;
}

.Invisible {
	display: none;
}

.MessageTextReaden {
	color: #a3a3a3;
}

.MessageExpand {
	height: 20px;
	font: 10px Calibri;
	color: #82478e;
	text-align: right;
	margin-bottom: 2px;
}

.MessageCollapse {
	height: 20px;
	font: 10px Calibri;
	color: #82478e;
	text-align: right;
	margin-bottom: 2px;
}

.MessageCollapseSelected {
	background: #f3f3f3;
}

.MessageExpandSelected {
	background: #f3f3f3;
}

.MessageTitle {
	height: 20px;
	padding-top: 17px;
	padding-bottom: 20px;
}

.MessageTitleReaden {
	color: #a3a3a3;
}

.MessageTitleSelected {
	color: #00aeef;
	background: #f3f3f3;
}

.MessageTitle a{
	text-decoration: none;
	color: #00aeef;
	font-family: arial,sans-serif;
	font-weight: bold;
	float: left;
	margin-left: 5px;
	margin-top: 2px;
}

a.Undecorated {
	text-decoration: none;
	color: inherit;
}

.LoginPage {
	background: url("../images/loginPage/darker-texture-login.jpg");
	vertical-align: middle;
}

.AuthCircle {
	background: url("../images/loginPage/big-circle.png");
	height: 340px;
	width: 340px;
	margin-bottom: 54px;
	margin-left: 168px;
}

.LoginOctopus {
	position: relative;
	top: 15px;
	left: 132px;
	float: left;
}

.LoginGoogle {
	position: relative;
	top: 29px;
	left: 166px;
	float: none;
}

.LoginFacebook {
	position: relative;
	top: -60px;
	left: 76px;
	float: none;
}

.LoginTwitter {
	position: relative;
	top: -55px;
	left: 164px;
	float: none;
}

.LoginLJ {
	position: relative;
	top: 100px;
	left: 23px;
	float: none;
}

.inactive {
	pointer-events: none;
	cursor: default;
	opacity : 0.4;
    filter: alpha(opacity=40);
}

.LoginBaloon {
	position: relative;
	top: -57px;
	left: 44px;
	float: none;
	width: 100px;
	height: 78px;
	background: url("../images/loginPage/baloon.jpg") no-repeat 0 0;
}

span.Baloon {
	width: 80px;
	height: 78px;
	position: relative;
	float: left;
	top: -70px;
	left: 17px;
	font: 12px Verdana;
	color: #7d4d8b;
}

.LoginVkontakte {
	position: relative;
	top: -104px;
	left: 179px;
	float: none;
}

.LoginLinkedin {
	position: relative;
	top: -96px;
	left: 165px;
	float: none;
}

td.PageHeader {
	height: 100px;
	width: 100%;
	border: 0px;
}

td.PageBody {
	height: 100%;
	width: 100%;
}

td.PageFooter {
	border: 0px;
	background-color: transparent;
}

img.HeaderImage {
	height: 66px;
	padding-bottom: 15px;
	padding-left: 40px;
	padding-top: 15px;
}

.FullSize {
	height: 100%;
	width: 100%;
}

table.DefaultTable {
	border: 0px;
	padding: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
}

tr.Auth {
	height: auto;
}

tr.Promo {
	height: 222px;
}

td.Auth {
	width: 100%;
}

td.Promo {
	width: 100%;
}

.Promo {
	position: relative;
	width: 691px;
	height: 100px;
}

.PromoGeneral {
	position: relative;
	width: 207px;
	height: 100px;
	margin-right: 35px;
	float: left;
}

span.PromoGeneral {
	position: relative;
	float: left;
	margin-top: 8px;
	font: 18px Verdana;
	color: #7d4d8b;
}

.PromoAbout {
	position: relative;
	width: 207px;
	height: 100px;
	margin-right: 35px;
	margin-top: 18px;
	float: left;
}

.PromoYourLook {
	position: relative;
	margin-top: 18px;
	width: 207px;
	height: 100px;
	float: left;
}

span.PromoHeader {
	position: relative;
	float: left;
	width: 207px;
	margin-bottom: 7px;
	font: 18px Verdana;
	color: #00aeef;
}

span.PromoText {
	position: relative;
	float: left;
	width: 207px;
	font: 11px Verdana;
	color: #444444;
}
.PlusButton {
	height: 22px;
	width: 22px;
	margin: 3px 14px 0px 10px;
	background: url("../images/settings/add-idle.png") no-repeat 0 0;
	float: left;
}
.PlusButton:HOVER {
	background: url("../images/settings/add-rollover.png") no-repeat 0 0;
}
.MinusButton {
	height: 22px;
	width: 22px;
	background: url("../images/settings/remove-idle.png") no-repeat 0 0;
	float: right;
	margin-left: 5px;
	cursor: pointer;
}
.MinusButton:HOVER {
	background: url("../images/settings/remove-rollover.png") no-repeat 0 0;
}

a#search_button img {
	background: url("../images/main/search-idle.png") no-repeat 0 0;
}

a#search_button:HOVER img {
	background: url("../images/main/search-rollover.png") no-repeat 0 0;
}

a#login_google img {
	background: url("../images/loginPage/google-idle.png") no-repeat 0 0;
}

a#login_google:HOVER img {
	background: url("../images/loginPage/google-rollover.png") no-repeat 0 0;
}

a#login_facebook img {
	background: url("../images/loginPage/facebook-idle.png") no-repeat 0 0;
}

a#login_facebook:HOVER img {
	background: url("../images/loginPage/facebook-rollover.png") no-repeat 0 0;
}

a#login_lj img {
	background: url("../images/loginPage/LJ-idle.png") no-repeat 0 0;
}

a#login_lj:HOVER img {
	background: url("../images/loginPage/LJ-rollover.png") no-repeat 0 0;
}

a#login_linkedin img {
	background: url("../images/loginPage/linkedin-idle.png") no-repeat 0 0;
}

a#login_linkedin:HOVER img {
	background: url("../images/loginPage/linkedin-rollover.png") no-repeat 0 0;
}

a#login_twitter img {
	background: url("../images/loginPage/twitter-idle.png") no-repeat 0 0;
}

a#login_twitter:HOVER img {
	background: url("../images/loginPage/twitter-rollover.png") no-repeat 0 0;
}

a#login_vkontakte img {
	background: url("../images/loginPage/vkontakte-idle.png") no-repeat 0 0;
}

a#login_vkontakte:HOVER img {
	background: url("../images/loginPage/vkontakte-rollover.png") no-repeat 0 0;
}

/* adding elipsis to tree leafs*/
.mysocio-tree-node {width:150px;text-overflow: ellipsis; overflow: hidden; -o-text-overflow: ellipsis;}

#sources_tree_scroll {width: 316px; height: 580px;}
#sources_tree_scroll .viewport { width: 300px; height: 580px; overflow: hidden; position: relative; }
.scroll-pane {overflow: auto;}
.overview { list-style: none; position: absolute; left: 0; top: 0; }
.thumb .end,
.thumb { background-color: #a67eb0; }
.scrollbar { position: relative; float: right; width: 10px; }
.track { background-color: #dde; height: 100%; width:8px; position: relative; padding: 0 1px; }
.thumb { height: 20px; width: 8px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
.thumb .end { overflow: hidden; height: 5px; width: 13px; }
.disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }